@media (max-width: 991px) {
    .promo {
        &__wrapper {
            align-items:center;
        }
    }
    .header {
        &__phone {
            font-size: 17px;
        }
    }
}
@media (max-width: 767px) {
    .promo {
        &__wrapper {
            align-items:center;
        }
    }
    .header {
        &__phone {
            font-size: 17px;
        }
    }
}
@media (max-width: 575px) {
    .promo {
        &__wrapper {
            align-items:center;
        }
    }
    .header {
        &__phone {
            font-size: 16px;
        }
    }
}	
@media (max-width: 375px) {
    .promo {
        &__wrapper {
            align-items:center;
        }
        &__icons {
            width: 100%;
        }
    }
    .header {
        text-align: center;
        &__phone {
            font-size: 16px;
        }
    }
}	